.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* ----------------------------------------------------------------------------------------------------- */

/* Card CSS */

#preloading {
  width: 100%;
  height: 100vh;
  background-color: #FF9816;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:575px) {
  .font_size {
    font-size: 25px !important;
  }

  .first,
  .second {
    font-size: 8px;
  }

  .imgsize {
    height: 100vh;
  }
}

@media screen and (min-width:575px) and (max-width:767px) {
  .font_size {
    font-size: 30px !important;
  }

  .first,
  .second {
    font-size: 10px;
  }

  .imgsize {
    height: 95vh;
  }
}

@media screen and (min-width:768px) and (max-width:991px) {
  .font_size {
    font-size: 35px !important;
  }

  .first,
  .second {
    font-size: 15px;
  }

  .imgsize {
    height: 90vh;
  }
}

@media screen and (min-width:992px) and (max-width:1199px) {
  .font_size {
    font-size: 40px !important;
  }

  .first,
  .second {
    font-size: 20px;
  }

  .imgsize {
    height: 85vh;
  }
}

@media screen and (min-width:1200px) and (max-width:1399px) {
  .font_size {
    font-size: 45px !important;
  }

  .first,
  .second {
    font-size: 30px !important;
  }

  .imgsize {
    height: 80vh;
  }
}

@media screen and (min-width:1400px) {
  .font_size {
    font-size: 50px !important;
  }

  .first,
  .second {
    font-size: 50px !important;
  }

  .imgsize {
    height: 50vh;
  }
}

/* --------------------------------------------- */
img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.location_hover {
  text-decoration: none;
  color: white;
}

.location_hover:hover {
  transition: .3s;
  color: #FF9816;
}

::selection {
  background-color: #282c34;
  color: #FF9816;
}

.go-back {
  width: 5%;
  height: 10vh;
  font-weight: bolder;
  background-color: #282c34;
  position: fixed;
  bottom: 10%;
  right: 5%;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  box-shadow: 3px 5px 15px white;
  z-index: 5;
}

.go-back:hover {
  color: #FF9816;
}

.go-back .second {
  position: absolute;
  right: 10px;
  transform: translate(50%, -50%);
}

.go-back:hover .second {
  transition: .5s;
  position: absolute;
  right: 0px;
}

.go-back .first {
  position: absolute;
  right: -13px;
  transform: translate(50%, -50%);
}

.go-back:hover .first {
  transition: .5s;
  position: absolute;
  right: -5px;
}

/*  Slider CSS  */
/* .item img 
{
  width: 100%;
  height: 100vh;
}
.owl-stage-outer
{
  position: relative;
}
.owl-nav
{
  position: absolute;
  top: 35%;
  width: 100%;
  font-size: 100px;
  color: white;
  display: flex;
  justify-content: space-between;  
}
.owl-nav .owl-prev:hover,.owl-nav .owl-next:hover
{
  background-color: transparent !important;
  color: rgba(256,0,0,.8) !important;
  transition: .5s !important;
}
.owl-nav .owl-prev,.owl-nav .owl-next
{
  margin: 0px 100px !important;
}
.owl-dots
{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.owl-dots .active span
{
  background-color: rgba(256,0,0,.8) !important;
} */